.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111115;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generator_container {
  width: 500px;
  height: 600px;
}

.generator_container h2 {
  font-weight: 700;
  text-align: center;
  color: #494753;
}

.password_value,
.password_range,
.password_strength {
  width: 90%;
  margin: 0px auto;
  background-color: #24232A;
  padding: 14px 16px;
  margin-bottom: 20px;
}

.password_value {
  color: #fff;
}

.copy_icon {
  font-size: 24px;
  color: #A5FFAF;
  cursor: pointer;
}

.pass_value {
  font-size: 18px;
  font-weight: 600;
  flex: 2;
  overflow: hidden;
  padding: 0px 10px 0px 20px;
  margin-right: 20px;
}

.pass_value::selection {
  background-color: #A5FFAF;
  color: #111115;
}

.password_range .range_header span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.range_value {
  color: #A5FFAF !important;
  font-size: 18px !important;
}

.range {
  margin: 20px 0px;
}

.range_type>span {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.password_strength {
  background-color: #18171F !important;
  padding: 30px 16px;
  color: #fff;
  font-size: 18px;
}

.strength_value {
  margin-right: 10px;
}

.strength_level span:nth-child(2),
.strength_level span:nth-child(3),
.strength_level span:nth-child(4) {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
}

.strength_level span:nth-child(2),
.strength_level span:nth-child(3) {
  margin-right: 4px;
}

.strength_level span {
  padding: 0px 6px;
}

.btn_box {
  padding: 14px 8px;
}

.genrate_btn {
  background-color: #A5FFAF !important;
  color: #111115 !important;
  font-weight: 600 !important;
  cursor: pointer;
}